<div class="card-boby">
    <form action="/admin/numeroOs" method="POST">
    <label for="numero" >Informe numero OS</label>
    <input type="number" name="numero">
    <button type="submit">Salvar</button>
    </form>
</div>